include README.md
recursive-include octoprint_restore_leveling_after_g28/templates *
recursive-include octoprint_restore_leveling_after_g28/translations *
recursive-include octoprint_restore_leveling_after_g28/static *
